:root {
  font-size: 20px;
  
}

body, html {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(0,25%,41%);
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: white;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
}


.upgrade {
  display: inline-block;
  width: 25rem;
  height: 5rem;
  margin: 1rem;
  
}

.click-button {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}


.container {
  display: inline-block;
  width: min-content;
  height: 25rem;
  overflow: scroll;
  background-color: brown;
  margin-top: 1rem;
  border-radius: 1rem;
}

.container h1 {
  font-weight: bold;
}

.achievement-container {
  display: inline-block;
  width: min-content;
  height: 25rem;
  overflow: scroll;
  background-color: brown;
  margin-top: 1rem;
  border-radius: 1rem;
}

.achievement {
  display: inline-block;
  width: 25rem;
  height: 5rem;
  margin: 1rem;
  background-color: #EF476F;
  font-weight: bold;
}
