body, html {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(0,25%,41%);
    margin: 0;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    
}

.app {
    background-color: aqua;
    display: inline-block;
    text-align: center;
    width: 25em;
    border-radius: 25px;
    box-shadow: 5px 10px;
    transition-property: box-shadow;
    transition-duration: 0.025s;

}

.app h2, h3{
  margin-top: -20px;
}

.app:active {
    box-shadow: 2.5px 5px;
  }


  .upgrade {
    background-color: aqua;
    width: 25em;
    height: 8em;
    display: inline-block;
    border-radius: 25px;
    box-shadow: 5px 10px;
    margin-bottom: 2em;
    margin-right: 15px;

    transition-property: box-shadow;
    transition-duration: 0.025s;
  }

  .upgrade:active {
    box-shadow: 2.5px 5px;
  }

  .container {
    text-align: center;
    background-color: brown;
    float: right;
    width: 50%;
    text-align: center;
  }

  .first-one {
    margin-top: 2em;
  }

  .alarm-box {
    display: inline-block;
    background-color: aqua;
    margin-top: 15px;
    color: red;
  }

  .emoji {
    font-size: 75px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
  }